In [159]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [160]:
data = pd.read_csv('movie_bd_v5.csv')

In [161]:
data['profit'] = data.revenue - data.budget

In [162]:
def split_genres(genre):
    genre = genre.split(r'|')
    return genre

In [163]:
def split_date(part):
    part = part.split(r'/')
    return part

In [164]:
data['split_genres'] = data.genres.apply(split_genres)

In [165]:
data['split_cast'] = data.cast.apply(split_genres)

In [166]:
data['split_companies'] = data.production_companies.apply(split_genres)

# Предобработка

In [167]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [168]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# ответили верно, можете добавить комментарий со значком "+"

In [169]:
# тут пишем ваш код для решения данного вопроса:

max_budget_string = data[(data['budget'] == data.budget.max())]
max_budget_string

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,"[Adventure, Action, Fantasy]","[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [170]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides' #+
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides'}

# 2. Какой из фильмов самый длительный (в минутах)?

In [171]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [172]:
max_runtime_string = data[(data['runtime'] == data.runtime.max())]
max_runtime_string

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,"[Drama, History, War]","[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Turner Pictures, Antietam Filmworks]"

In [173]:
answers['2'] = '2. Gods and Generals' #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [174]:
min_runtime_string = data[(data['runtime'] == data.runtime.min())]
display(min_runtime_string)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,"[Animation, Family]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Walt Disney Pictures, Walt Disney Animation S..."

In [175]:
answers['3'] = '3. Winnie the Pooh' #+

# 4. Какова средняя длительность фильмов?

In [176]:
round(data.runtime.mean())

110

In [177]:
sum_runtime = data.runtime.sum()/len(data.runtime)
sum_runtime

109.6585494970884

In [178]:
answers['4'] = '2. 110' #+

# 5. Каково медианное значение длительности фильмов?

In [179]:
round(data.runtime.median())

107

In [180]:
median_runtime = data.runtime
median_runtime = median_runtime.sort_values()
display(median_runtime[round(len(median_runtime)/2+1)])

107

In [181]:
answers['5'] = '1. 107' #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [182]:
max_profit_string = data[(data['profit'] == data.profit.max())]
display(max_profit_string)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Ingenious Film Partners, Twentieth Century Fo..."

In [183]:
answers['6'] = '5. Avatar' #+

# 7. Какой фильм самый убыточный?

In [184]:
min_profit_string = data[(data['profit'] == data.profit.min())]
display(min_profit_string)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]","[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [185]:
answers['7'] = '5. The Lone Ranger' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [186]:
plus_profit_string = data[(data['profit'] > 0)]
len(plus_profit_string)

1478

In [187]:
answers['8'] = '1. 1478' #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [188]:
films_from_2008 = data[(data['release_year'] == 2008)]
max_revenue_2008 = films_from_2008.sort_values(by = 'revenue', ascending = False)
max_revenue_2008 = max_revenue_2008.iloc[0]
max_revenue_2008

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
split_genres                             [Drama, Action, Crime, Thriller]
split_cast              [Christian Bale, Michael Caine, Heath Ledger, ...
split_companies         [DC Comics, Legendary Pictures, Warner Bros., ...
Name: 599, dtype: object

In [189]:
answers['9'] = '4. The Dark Knight' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [190]:
films_from_2012_2014 = data[(data['release_year'] >= 2012)]
films_from_2012_2014 = films_from_2012_2014[(films_from_2012_2014['release_year'] <= 2014)]
min_revenue_film_2012_2014 = films_from_2012_2014[(films_from_2012_2014['profit'] == films_from_2012_2014.profit.min())]
min_revenue_film_2012_2014

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]","[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [191]:
answers['10'] = '5. The Lone Ranger' #+

# 11. Какого жанра фильмов больше всего?

In [192]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# при работе с исходной колонкой жанров
all_genres = []
for genre in data.genres:
    temp_genre = genre.split(r'|')
    for genre_in_genre in temp_genre:
        all_genres.append(genre_in_genre)
all_genres = pd.Series(all_genres)
all_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [193]:
# Для столбца с уже разделенными жанрами
split_genres = data.split_genres
all_genres1 = []
for genre in data.split_genres:
    for genre_in_genre in genre:
        all_genres1.append(genre_in_genre)
pd.Series(all_genres).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [194]:
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [195]:
data_positive_profit = data[(data['profit'] > 0)]
all_genres2 = []
for genre in data_positive_profit.split_genres:
    for genre_in_genre in genre:
        all_genres2.append(genre_in_genre)
pd.Series(all_genres2).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [196]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [197]:
# создаем ДФ путем группировки по режиссеру, суммируя сборы, сортируем по убыванию
# не учтены случаи двух или более режиссеров, но в данной задаче не критично
director_max_revenue = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(director_max_revenue.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [198]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [199]:
# создаём ДФ с фильмами жанра Экшн
Actions = data[data.genres.str.contains('Action', na = False)]
# создаём ДФ с режиссерами
Actions_director_all = Actions.director
# Запускаем цикл, чтобы вытащить имена в тех случаях, когда режиссеров было двое
Actions_director_split = []
for director in Actions.director:
    if '|' in director:
        temp_director = director.split(r'|')
        for director_in_director in temp_director:
            Actions_director_split.append(director_in_director)
    else:
        Actions_director_split.append(director)
# подсчитываем количества повторений, смотрим кто повторяется чаще
pd.Series(Actions_director_split).value_counts().head(1)

Robert Rodriguez    9
dtype: int64

In [200]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [201]:
# создайм df с фильмами 2012 года
films_2012 = data.query('release_year == 2012')
films_2012 = pd.DataFrame(films_2012)

# создадим список актеров без привязок к фильмам
actors_2012_uniq = []

for actor in films_2012.split_cast:
    for actor_in_actor in actor:
        actors_2012_uniq.append(actor_in_actor)

actors_2012_uniq = pd.Series(actors_2012_uniq).unique()

# при наличии актера в фильме суммируем кассовый сбор
actors_2012_uniq = pd.DataFrame(actors_2012_uniq)
actors_2012_uniq['revenue'] = 0
actors_2012_uniq.columns = ['name', 'revenue']

for number_of_actor in range(0, len(actors_2012_uniq)):
    for number_of_film in range(0, len(films_2012.split_cast)):
        if actors_2012_uniq.name.iloc[number_of_actor] in films_2012.split_cast.iloc[number_of_film]:
            actors_2012_uniq.revenue.iloc[number_of_actor] += films_2012.revenue.iloc[number_of_film]
actors_2012_uniq.sort_values(by = 'revenue', ascending = False).iloc[0]

C:\Users\kosty\programms\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

name       Chris Hemsworth
revenue         2027450773
Name: 3, dtype: object

In [202]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [203]:
# создаем ДФ с ВБ фильмами
mean_budget = data.budget.mean()
upper_mean_budget_films = data[(data['budget'] > mean_budget)]

# создаем серию с актерами
actors_uniq = []

for actor in upper_mean_budget_films.split_cast:
    for actor_in_actor in actor:
        actors_uniq.append(actor_in_actor)
actors_times = pd.Series(actors_uniq)

# смотрим кто чаще встречается
actors_times.value_counts()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
                  ..
Blake Lively       1
Margot Robbie      1
Mr. T              1
Jeffrey Garcia     1
Larry Bryggman     1
Length: 1505, dtype: int64

In [204]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [205]:
# создадим ДФ фильмов, где играл Николас
nicolas = data[data.cast.str.contains('Nicolas Cage', na = False)]

# выделим жанры
nicolases_genres = []
for genre in nicolas.split_genres:
    for genre_in_genre in genre:
        nicolases_genres.append(genre_in_genre)

# посчитаем каких больше
pd.Series(nicolases_genres).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

In [206]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [207]:
# создадим ДФ сфильмами от PP
pp = data[data.production_companies.str.contains('Paramount Pictures', na = False)]

# сортируем по прибольности, смотрим самый убыточный
min_profit_pp = pp.sort_values(by = 'profit')
min_profit_pp.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]","[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[Paramount Pictures, Intermedia Films, Nationa..."

In [208]:
answers['18'] = '1. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [209]:
# сгруппируем по годам кассовые сборы и просуммируем их
year_revenue = data.groupby(['release_year']).sum()

# отсортируем по кассовым сборам
year_revenue.sort_values(by = 'profit', ascending = False)

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378
2014          7008050000  23405862953    13444         774.5  16397812953
2012          7002000000  23079001687    12145         682.1  16077001687
2013          7970620000  23213799791    15039         846.9  15243179791
2011          7946550531  22676791872    15355         868.5  14730241341
2010          7540000000  21071204961    13592         762.1  13531204961
2009          6838046652  20261791024    14187         800.2  13423744372
2008          6588900000  18252781990    12979         731.1  11663881990
2007          6596495000  18162406801    14305         809.3  11565911801
2004          6029250000  15663430720    12014         671.3   9634180720
2003          5117300000  14346123312    10623         574.4   9228823312
2002          5134000000  14136361487    11528         653.1   9002361487
2005          6327500000  15309425558    13387         733.5   8981925558
2006          6083965000  14775042320    13952         775.4   8691077320
2001          5067150000  13017764865    11284         619.8   7950614865
2000          4562700000  10664099805     9956         542.5   6101399805

In [210]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [211]:
# сделаем ДФ от студии ВБ
wb = data[data.production_companies.str.contains('Warner Bros', na = False)]

# сгруппируем по фильмам, просуммируем
year_wb = wb.groupby(['release_year']).sum()

# отсортируем по прибыли
year_wb.sort_values(by = 'revenue', ascending = False)

                  budget     revenue  runtime  vote_average      profit
release_year
2014           947600000  3243064519     1576          88.9  2295464519
2007           982000000  3183675217     1721          95.4  2201675217
2008           916000000  3050595031     1366          72.0  2134595031
2010          1034000000  3008712985     1421          79.6  1974712985
2011           974000000  2845393682     1248          68.3  1871393682
2003           890000000  2745493377     1085          56.7  1855493377
2009           915500000  2737954136     1305          67.9  1822454136
2004          1100000000  2731933725     1624          78.7  1631933725
2013           963500000  2599953400     1100          59.9  1636453400
2005           861000000  2412980298     1193          63.0  1551980298
2001           923000000  2266545668     1571          83.6  1343545668
2012           611500000  1869520056      579          30.0  1258020056
2002           680000000  1702709901     1281          70.6  1022709901
2015           820800003  1691168351     1358          75.9   870368348
2006           901000000  1521170743     1504          81.0   620170743
2000           572900000  1025531386     1333          68.0   452631386

In [212]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [213]:
# добавим столбец месяца
data['month'] = 0

# дробим столбец даты и добавляем новый столбец с результатом
data['date_split'] = data.release_date.apply(split_date)
data.date_split.iloc[2][0]

# пишим  цикл, чтобы перенести месяц в нужный столбец
for i in range(len(data)):
    data.month.iloc[i] = data.date_split.iloc[i][0]

# смотрим сколько раз повторяется тот или иной месяц
films_per_month = data.month.value_counts()
films_per_month

C:\Users\kosty\programms\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [214]:
answers['21'] = '4. сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [215]:
summer = films_per_month.loc['6'] + films_per_month.loc['7'] + films_per_month.loc['8']
summer

450

In [216]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [217]:
# формируем змний ДФ
winter = data.query('month in ["12", "1", "2"]')

# создаем спи сок режиссеров
winter_director_split = []
for director in winter.director:
    if '|' in director:
        temp_director = director.split(r'|')
        for director_in_director in temp_director:
            winter_director_split.append(director_in_director)
    else:
        winter_director_split.append(director)
pd.Series(winter_director_split).value_counts().head()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
dtype: int64

In [218]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [219]:
# создадим список КС без привязок к фильмам
pc = []

for company in data.split_companies:
    for company_in_company in company:
        pc.append(company_in_company)

# посчитаем количество повторений каждой КС
pc_numbers = pd.Series(pc).value_counts()

# оставим только уникальные значения КС
pc = pd.Series(pc).unique()

In [220]:
# при наличии КC в фильме суммируем длину названия
pc = pd.DataFrame(pc)
pc['len_name'] = 0
pc.columns = ['name', 'len_name']
for number_of_company in range(0, len(pc)):
    for number_of_title in range(0, len(data.original_title)):
        if pc.name.iloc[number_of_company] in data.split_companies.iloc[number_of_title]:
            pc.len_name.iloc[number_of_company] += len(data.original_title.iloc[number_of_title])

In [222]:
# добавляем столбец для расчета среднего
pc['mean'] = 0

In [223]:
# создаем ДФ с количеством фильмов каждой КС
pc_numbers = pd.DataFrame(pc_numbers).reset_index()

In [224]:
pc_numbers.columns = ['name', 'times']

In [225]:
# соединяем ДФ для подсчета среднего по названию КС
merged_pc = pd.merge(left = pc_numbers, right = pc, on = 'name')
# считаем среднее, заполняем колонку
merged_pc['mean'] = merged_pc['len_name'] / merged_pc['times']
#сортируем, смотрим ответ
merged_pc.sort_values(by = 'mean', ascending = False)

                            name  times  len_name  mean
1491     Four By Two Productions      1        83  83.0
1558     Jim Henson Company, The      1        59  59.0
1367               Dos Corazones      1        47  47.0
736    Museum Canada Productions      1        46  46.0
924                 Polsky Films      1        46  46.0
...                          ...    ...       ...   ...
940         Berlanti Productions      1         3   3.0
1553       Everest Entertainment      1         3   3.0
1563  Global Entertainment Group      1         2   2.0
1243          Ixtlan Productions      1         2   2.0
1770             XM2 Productions      1         2   2.0

[1771 rows x 4 columns]

In [226]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [227]:
# берем список КС из прошлоговопроса
pc_o = pc.name
pc_o = pd.DataFrame(pc_o)
pc_o['sum_len'] = 0

In [228]:
# создаем нужный ДФ
df25 = []
df25 = pd.DataFrame(df25)
df25['split_companies'] = data.split_companies
df25['overview'] = data.overview
# находим длину описанияб записываем в нужный столбец
df25['len_overview'] = 0
for i in range(len(df25)):
    df25.len_overview.iloc[i] = len(df25.overview.iloc[i])

C:\Users\kosty\programms\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [229]:
# считаем суммарное значение для каждой КС
for i in range(len(pc_o)):
    for j in range(len(df25)):
        if pc_o.name.iloc[i] in df25.split_companies.iloc[j]:
            pc_o.sum_len.iloc[i] += df25.len_overview.iloc[j]

In [230]:
# считаем среднее значение, возьмем ДФ c количеством фильмов каждой КС из прошлого вопроса
# соеденим таблицы по КС
merged_df25 = pd.merge(left = pc_numbers, right = pc_o, on = 'name')
merged_df25['mean'] = merged_df25['sum_len'] / merged_df25['times']
# сортируем, смотрим ответ
merged_df25.sort_values(by = 'mean', ascending = False)

                                       name  times  sum_len    mean
1211                  Midnight Picture Show      1     1000  1000.0
768                    Room 9 Entertainment      1      964   964.0
1446       Brookwell-McNamara Entertainment      1      936   936.0
1013            Crest Animation Productions      1      909   909.0
1640        Lions Gate Family Entertainment      1      909   909.0
...                                     ...    ...      ...     ...
1428                    Projection Pictures      1       74    74.0
1672                       London Boulevard      1       74    74.0
1035                           Phantom Four      1       72    72.0
757                         Empire Pictures      1       62    62.0
1043  Motion Picture Corporation of America      1       59    59.0

[1771 rows x 4 columns]

In [231]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [232]:
# смотрим значение рейтинга для 1 процента
data_sort26 = data[(data['vote_average'] > data.vote_average.quantile(0.99))]
# смотрим ответ
data_sort26

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,split_genres,split_cast,split_companies,month,date_split
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,"[Comedy, Animation, Family]","[Amy Poehler, Phyllis Smith, Richard Kind, Bil...","[Walt Disney Pictures, Pixar Animation Studios...",6,"[6, 9, 2015]"
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,"[Drama, Thriller]","[Brie Larson, Jacob Tremblay, Joan Allen, Sean...","[Element Pictures, No Trace Camping, A24, Dupe...",10,"[10, 16, 2015]"
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,"[Adventure, Drama, Science Fiction]","[Matthew McConaughey, Jessica Chastain, Anne H...","[Paramount Pictures, Legendary Pictures, Warne...",11,"[11, 5, 2014]"
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,"[Action, Science Fiction, Adventure]","[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...","[Marvel Studios, Moving Picture Company (MPC),...",7,"[7, 30, 2014]"
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,"[History, Drama, Thriller, War]","[Benedict Cumberbatch, Keira Knightley, Matthe...","[Black Bear Pictures, Bristol Automotive]",11,"[11, 14, 2014]"
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,"[Mystery, Thriller, Drama]","[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...","[Twentieth Century Fox Film Corporation, Regen...",10,"[10, 1, 2014]"
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,"[Comedy, Drama]","[Ralph Fiennes, Tony Revolori, F. Murray Abrah...","[Fox Searchlight Pictures, Scott Rudin Product...",2,"[2, 26, 2014]"
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,"[Action, Thriller, Science Fiction, Mystery, A...","[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...","[Legendary Pictures, Warner Bros., Syncopy]",7,"[7, 14, 2010]"
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]","[Christian Bale, Michael Caine, Heath Ledger, ...","[DC Comics, Legendary Pictures, Warner Bros., ...",7,"[7, 16, 2008]"
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,"[Drama, War]","[Adrien Brody, Thomas Kretschmann, Frank Finla...","[Bac Films, Canal+Polska, Heritage Films, Stud...",9,"[9, 24, 2002]"
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,"[Adventure, Fantasy, Action]","[Elijah Wood, Ian McKellen, Viggo Mortensen, L...","[WingNut Films, New Line Cinema]",12,"[12, 1, 2003]"
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,"[Crime, Drama, Comedy]","[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...","[Paramount Pictures, Appian Way, EMJAG Product...",12,"[12, 25, 2013]"
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,"[Drama, History]","[Chiwetel Ejiofor, Michael Fassbender, Lupita ...","[Plan B Entertainment, Regency Enterprises, Ri...",10,"[10, 18, 2013]"
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,"[Mystery, Thriller]","[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...","[Summit Entertainment, Newmarket Capital Group...",10,"[10, 11, 2000]"

In [233]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [234]:
# создаём df
df27 = []
df27 = pd.DataFrame(df27)
df27['original_title'] = data.original_title
df27['cast'] = data.split_cast

In [235]:
# создадим список актеров без привязок к фильмам
actors_27 = []

for actor in df27.cast:
    for actor_in_actor in actor:
        actors_27.append(actor_in_actor)

actors_27 = pd.Series(actors_27).unique()
actors_27 = pd.DataFrame(actors_27)
actors_27.columns = ['actor']

In [236]:
# создаём пары актеров
from itertools import combinations

pairs = list(combinations(actors_27.actor, 2))

In [1039]:
# смотрим какие пары чаще всего встречаются в одном фильме
result = []
for i in range(len(pairs)):
    for k in range(len(df27.cast)):
        if pairs[i][0] in df27.cast[k] and pairs[i][1] in df27.cast[k]:
            result.append(pairs[i])
# очень долго считает, что не удивительно...

KeyboardInterrupt:

# Submission

In [237]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave'}

In [238]:
# и убедиться что ни чего не пропустил)
len(answers)

26